
// @font-face {
//   font-family: "Montserat-Light";
//   src: url("~@/assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
//   font-weight: 200;
// }

// @font-face {
//   font-family: "Montserrat-Regular";
//   src: url("~@/assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
//   font-weight: 400;
// }

// @font-face {
//   font-family: "Montserrat-Medium";
//   src: url("~@/assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
//   font-weight: 600;
// }

// @font-face {
//   font-family: "Montserrat-SemiBold";
//   src: url("~@/assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
//   font-weight: 600;
// }

// @font-face {
//   font-family: "Montserrat-Bold";
//   src: url("~@/assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
//   font-weight: 800;
// }

// @font-face {
//   font-family: "Montserrat";
//   src: url("~@/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
//   font-weight: 900;
// }