<template>
	<div class="expiry-alerts">
		<Header/>
		<LoggedInUserHeader/>
		<div class="expiry-alerts-wrapper">
			<Sidebar
				:currentUser='currentUser'
			/>
			<div class="expiry-alerts-main">
				<h1 class="title">Expiry Alerts</h1>
				<table class="saved-searches-table">
            <thead>
              <tr>
                <td>Country</td>
                <td>Number of Licenses</td>
                <td></td>
                <td></td>
                <td>Alerts</td>
              </tr>
            </thead>
						<LoadAnimation v-if='this.$store.state.isLoading'/>
            <tbody v-for="(alert, index) in expiryAlerts" :key='index'>
              <tr>
                <td>
                  <button type="button" @click="displayAllInCountry">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect width="35" height="35" rx="5" fill="#EBEBEB"/>
											<path d="M17.5 25L11.0048 13.75L23.9952 13.75L17.5 25Z" fill="#676868"/>
										</svg>
                  </button>
									<div class="country-wrap">
										<img :src='getCountryFlag(alert[0])'/>
									</div>
									<!-- {{ alert[0] }} -->
									{{getCountryFromSource(alert[0])}} 
                </td>
                <td> <span> {{ alert[1].length }} </span> Total Licenses </td>
                <td></td>
                <td></td>
                <td class="exp-alert-column">
									<div class="exp-alert-wrap">
										<div class="exp-alert exp-alert-red" 
											:class="{expVisible:alert[1].filter(item => item.status == 'RED').length }">
												<p> 
													{{ alert[1].filter(item => item.status == 'RED').length }}
												</p> 
										</div>
										<div class="exp-alert exp-alert-yellow" 
											:class="{expVisible:alert[1].filter(item => item.status == 'YELLOW').length }">
											 <p> 
												 {{ alert[1].filter(item => item.status == 'YELLOW').length }} 
												</p> 
										</div>
										<div class="exp-alert exp-alert-green" 
											:class="{expVisible:alert[1].filter(item => item.status == 'GREEN').length }"> 
												<p> 
													{{ alert[1].filter(item => item.status == 'GREEN').length }} 
												</p> 
										</div>
									</div>
                </td>
              </tr>
              <tr class="additional-info" style="display: none;">
                <td colspan="5" class="additional-info-td">
                  <table class="additional-info-table">
                    <tr class="additional-info-table-header">
                      <td>Manufacturer</td>
                      <td>Product Name</td>
                      <td>Expiration Date</td>
											<td>Reg. No.</td>
                      <td>Advanced Notice</td>
                      <td>Action</td>
                    </tr>
                    <tr v-for="alertSingle in alert[1]" :key='alertSingle._id'>
                      <td>
												<div class="alert-wrapper">
													<div class="alert-type alert-type-red" v-if="alertSingle.status == 'RED'"></div>
													<div class="alert-type alert-type-yellow" v-if="alertSingle.status == 'YELLOW'"></div>
													<div class="alert-type alert-type-green" v-if="alertSingle.status == 'GREEN'"></div>
												<p>{{ alertSingle.registration.manufacturerName }}</p>
												</div>
												
												
											</td>
                      <td> {{ alertSingle.registration.productName }} </td>
                      <td> {{ getDate(alertSingle.registration.expirationDate) }} </td>
											<td> {{ alertSingle.registration.No }} </td>
                      <td class="select-column">
												<select @change='updateExpiryAlert(alertSingle)'>
													<!-- <option value="1">1 month</option>
													<option value="6">6 months</option>
													<option value="12">12 months</option> -->
													<option v-for='(o, key) in options' :key='key' :selected='alertSingle.numberOfMonthsPrior == key' :value="key">{{o}}</option>
												</select>
											</td>
                      <td>
												<button @click="openDeleteModal(alertSingle)">
												<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect width="35" height="35" rx="5" fill="#FFDDDD"/>
													<path d="M24.5 11H20.75L20.4563 10.4156C20.394 10.2907 20.2982 10.1856 20.1795 10.1122C20.0608 10.0388 19.9239 9.99991 19.7844 10H16.2125C16.0732 9.99947 15.9367 10.0382 15.8184 10.1117C15.7001 10.1852 15.6049 10.2905 15.5437 10.4156L15.25 11H11.5C11.3674 11 11.2402 11.0527 11.1464 11.1465C11.0527 11.2402 11 11.3674 11 11.5V12.5C11 12.6326 11.0527 12.7598 11.1464 12.8536C11.2402 12.9473 11.3674 13 11.5 13H24.5C24.6326 13 24.7598 12.9473 24.8536 12.8536C24.9473 12.7598 25 12.6326 25 12.5V11.5C25 11.3674 24.9473 11.2402 24.8536 11.1465C24.7598 11.0527 24.6326 11 24.5 11ZM12.6625 24.5938C12.6863 24.9746 12.8544 25.332 13.1325 25.5932C13.4106 25.8545 13.7778 26 14.1594 26H21.8406C22.2222 26 22.5894 25.8545 22.8675 25.5932C23.1456 25.332 23.3137 24.9746 23.3375 24.5938L24 14H12L12.6625 24.5938Z" fill="#F26464"/>
												</svg>
											</button>
											</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
			</div>
		</div>
		<DeleteModal 
			@deleted='deleteExpiryAlert'
		/>
	</div>
</template>

<script>
import Header from '@/components/layout/header.vue';
import LoggedInUserHeader from '@/components/user/dashboard/core/TopBar.vue';
import Sidebar from '@/components/user/dashboard/core/sidebar.vue';
import DeleteModal from '@/components/user/modals/delete.vue';
import LoadAnimation from '@/components/global/loadAnimation.vue';
import {axiosClient} from "@/axios-client";

// country flags
import singapore from '@/assets/images/components/flags/singapore.svg';
import malaysia from '@/assets/images/components/flags/malaysia.svg';
import thailand from '@/assets/images/components/flags/thailand.svg';
import hongKong from '@/assets/images/components/flags/hongKong.svg';
import usa from '@/assets/images/components/flags/usa.svg';
import philippines from '@/assets/images/components/flags/philippines.svg';
import indonesia from '@/assets/images/components/flags/indonesia.svg';

	export default {
		name: 'expiry-alerts',
		components: {
			Header,
			LoggedInUserHeader,
			Sidebar,
			DeleteModal,
			LoadAnimation
		},

		data() {
			return {
				expiryAlerts: [],
				dataToDelete: null,
				options: {
					1: '1 month',
					6: '6 months',
					12: '12 months', 
				},

				months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug", "Sep", "Oct", "Nov", "Dec"],
				currentUser: {}
			}
		},

		created() {
			this.$store.commit('resultsAreLoading');
			axiosClient.get('v1/alerts')
      .then((response) => {
				let countryGroups = this.groupByKey(response.data, obj => obj.registration.source)

				for(let countryGroup of Object.entries(countryGroups)) {
					this.expiryAlerts.push(countryGroup)
				}

				this.$store.commit('resultsLoaded');
      })
      // .catch((err) => {console.log(err)});

			axiosClient.get('v1/account')
        .then((response) => {
          this.currentUser = response.data;
      });
		},

		methods: {
			groupByKey(array, key) {
				const keyFn = key instanceof Function ? key : (obj) => obj[key];
				return array.reduce((objectsByKeyValue, obj) => {
						const value = keyFn(obj);
						objectsByKeyValue[value] = (objectsByKeyValue[value] || []).concat(obj);
						return objectsByKeyValue;
				}, {});
			},

			openDeleteModal(id) {
				document.querySelector('.delete-modal-wrapper').style.opacity = '1';
				document.querySelector('.delete-modal-wrapper').style.zIndex = '999';
				document.querySelector('.delete-modal-wrapper').classList.add('isModalOpen');
				document.querySelector('body').style.overflow = 'hidden';
				this.dataToDelete = id;
			},

			displayAllInCountry(e) {
				let button = e.target.closest('button');
				let additionalInfo = button.parentElement.parentElement.nextSibling;

				button.classList.toggle('active-btn');
				additionalInfo.style.display == 'none' ? additionalInfo.style.display = 'table-row' : additionalInfo.style.display = 'none';
			},

			deleteExpiryAlert() {
				let id = this.dataToDelete._id;
      	axiosClient.delete('v1/alerts/' + id)
					.then(this.updateAfterDelete)
			},

			updateAfterDelete() {
				this.$store.commit('resultsAreLoading')
				this.expiryAlerts = [];

				axiosClient.get('v1/alerts')
					.then((response) => {
						let countryGroups = this.groupByKey(response.data, obj => obj.registration.source)

						for(let countryGroup of Object.entries(countryGroups)) {
							this.expiryAlerts.push(countryGroup)
						}
						this.$store.commit('resultsLoaded')
					})
					// .catch((err) => {console.log(err)});
			},

			getCountryFromSource(source) {
				const sourceToCountry = {
					'Singapore HSA': 'Singapore',
					'Philippines FDA': 'Philippines',
					'Thailand FDA': 'Thailand',
					'USFDA': 'United States',
					'Malaysia Medical Device Authority': 'Malaysia',
					'Hong Kong MDD': 'Hong Kong',
					'Indonesia PRKT': 'Indonesia',
				};
				return sourceToCountry[source];
			},

			getCountryFlag(source) {
				const sourceToFlag = {
					'Singapore HSA': singapore,
					'Thailand FDA': thailand,
					'Malaysia Medical Device Authority': malaysia,
					'Philippines FDA': philippines,
					'USFDA': usa,
					'Hong Kong MDD': hongKong,
					'Indonesia PRKT': indonesia,
				};
				return sourceToFlag[source];
			},

			updateExpiryAlert(alert) {
				let val =  parseInt(event.currentTarget.value.trim());

				axiosClient.patch('v1/alerts/' + alert._id, {
					numberOfMonthsPrior: val
				})
					// .then((response) => console.log(response))
					// .catch((err) => console.log(err));

				this.$store.commit('resultsAreLoading')
				this.expiryAlerts = [];

				axiosClient.get('v1/alerts')
					.then((response) => {
						let countryGroups = this.groupByKey(response.data, obj => obj.registration.source)

						for(let countryGroup of Object.entries(countryGroups)) {
							this.expiryAlerts.push(countryGroup)
						}
						this.$store.commit('resultsLoaded')
					})
					// .catch((err) => {console.log(err)});
			},

			getDate(date) {
				let fullDate = new Date(date);
				let d = fullDate.getDate();
				let m = this.months[fullDate.getMonth()];
				let y = fullDate.getFullYear();
				return `${m} ${d}, ${y}`;
			}
		}
	}
</script>

<style lang='scss'>
	.expiry-alerts {
		.expiry-alerts-wrapper {
			display: flex;
			justify-content: space-between;
			background: #f9f9f9;
			min-height: 100vh;

			.expiry-alerts-main {
				width: 70%;
				margin: 40px auto 0 auto;
				padding-bottom: 100px;

				@media (max-width: 1550px) {
					width: 78%;
				}

				h1 {
					font-family: "Gotham-Medium";
    			margin-bottom: 30px;
				}

				table.saved-searches-table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 0 10px;
          font-family: "Gotham-Book";
          font-size: 16px;
          line-height: 26px;

          tr {
            background: #fff;

            td {
              padding: 15px 15px 15px 0;
							width: 25%;

							@media (max-width: 1550px) {
								width: 20%;
							}

              &:first-of-type {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
              }

							// &:nth-of-type(2) {
							// 	width: 15%;
							// }

							// &:nth-of-type(3) {
							// 	width: 10%;
							// }

							&:last-of-type {
								width: 7%;
							}

							&:nth-of-type(4) {
								width: 5%;
								// width: 100px;
							}

							&.exp-alert-column {
								.exp-alert-wrap {
									display: flex;
									width: 100% !important;
									justify-content: space-between;

									.exp-alert {
										width: 29px;
										height: 29px;
										display: flex;
										justify-content: center;
										align-items: center;
										font-family: "Gotham-Medium";
										color: #fff;
										border-radius: 100%;
										visibility: hidden;

										&.expVisible {
											visibility: initial;
										}

										p {
											margin: 0;
										}

										&.exp-alert-red {
											background: #FF4A4A
										}

										&.exp-alert-yellow {
											background: #FCD102;
										}

										&.exp-alert-green {
											background: #56E65C;
										}
									}
								}
							}

              &:last-of-type {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
								// width: 8%;
								padding-right: 50px;
              }
            }
          }

          thead {
            font-family: "Gotham-Medium";

            tr td {
              padding: 15px 0;

              &:first-of-type {
                padding-left: 125px;
              }

              &:last-of-type {
                padding-right: 50px;
              }
            }
          }

          tbody {
            tr {
              td {
                &:first-of-type {
                  padding-left: 50px;

                  button {
                    margin-right: 40px;
                    border: none;

										svg path {
											transform-origin: center;
											transition: 0.1s;
										}

                    &:focus {
                      outline: none;
                    }

										&.active-btn {
											svg {
												rect {
													fill: #FCAF05;
												}

												path {
													transform: rotate(180deg);
													fill: #fff;
												}
											}
										}
                  }

									.country-wrap {
										width: 30px;
										height: 30px;
										display: inline-block;
										margin-right: 15px;

										svg,
										img {
											width: 100%;
										}
									}
                }
              }

              &.additional-info {
                td.additional-info-td {
                  padding: 0;

                  table.additional-info-table {
                    width: 100%;
                    tr {
                      &:first-of-type {
                        td {
                          padding: 0 5px 10px 5px;
                          background: #f9f9f9;
                          border-radius: 0 !important;
                        }
                      }

											&.additional-info-table-header {
												td {
													color: #676868;

													&:first-child {
														padding-left: 86px;
													}
												}
											}

                      td {
                        padding: 10px 5px;
                        font-size: 16px;
                        vertical-align: top;

                        &:first-of-type {
                          padding-left: 50px;
													// display: flex;
													// align-items: center;

													.alert-wrapper {
														display: flex;
														align-items: center;

														p {
															margin: 0;
															width: 80%;
														}

														.alert-type {
															width: 15px;
															height: 15px;
															border-radius: 100%;
															margin-right: 22px;

															&.alert-type-red {
																background: #FF4A4A;
															}

															&.alert-type-yellow {
																background: #FCD102;
															}

															&.alert-type-green {
																background: #56E65C;
															}
														}
													}
                        }

												&:nth-of-type(3) {
													width: 10%;;
												}

												&:nth-of-type(5) {
													width: 15%;
												}

                        &:last-of-type {
                          padding-right: 50px;
                          text-align: right;

													button {
														margin: 0;
													}
                        }

												&.select-column {
													select {
														appearance: none;
														width: 80%;
														padding: 4px 20px;
														border: 1px solid #CDCDCD;
														border-radius: 5px;

														&:focus {
															outline: none;
														}
													}
												}
                      }
                    }
                  }
                }
              }
            }
          }
        }
			}
		}
	}
</style>