<template>
  <div class="saved-searches">
    <Header/>
    <LoggedInUserHeader/>
    <div class="saved-searches-wrapper">
      <Sidebar
        :currentUser='currentUser'
      />
      <div class="saved-searches-main">
        <div class="container">
          <h1 class="title">Saved Searches</h1>
          <table class="saved-searches-table">
            <thead>
              <tr>
                <td>Name</td>
                <td>Date Last Run</td>
                <td>Number of Results</td>
                <td>Search Parameters</td>
                <td>Action</td>
              </tr>
            </thead>
            <LoadAnimation v-if='this.$store.state.isLoading'/>
            <tbody v-for="(result, index) of results" :key='index'>
              <tr>
                <td>
                  <!-- <button type="button">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="35" height="35" rx="5" fill="#EBEBEB"/>
                      <path d="M13.707 25.2926L23 15.9996L18.586 11.5856L9.293 20.8786C9.16506 21.0067 9.07418 21.167 9.03 21.3426L8 26.5856L13.242 25.5556C13.418 25.5116 13.579 25.4206 13.707 25.2926ZM26 12.9996C26.3749 12.6245 26.5856 12.1159 26.5856 11.5856C26.5856 11.0552 26.3749 10.5466 26 10.1716L24.414 8.58557C24.0389 8.21063 23.5303 8 23 8C22.4697 8 21.9611 8.21063 21.586 8.58557L20 10.1716L24.414 14.5856L26 12.9996Z" fill="#676868"/>
                    </svg>
                  </button> -->
                  <span v-if='result.listingName'>{{ result.listingName }}</span>
                  <span v-else>/</span>
                </td>
                <td>
                  <span v-if='result.dateLastSearched'>{{formatDate(result.dateLastSearched)}}</span>
                  <span v-else>/</span>
                </td>
                <td> {{ result.resultsCount }} </td>
                <td class='view-details'> 
                  <button type="button" class="orange-btn" @click="tableDropdown">
                    View details
                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 9L0.803851 -9.78799e-07L11.1962 -7.02746e-08L6 9Z" fill="#676868"/>
                    </svg>
                  </button> 
                </td>
                <td>
                  <svg @click='searchSavedItem(result)' width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 15px; cursor: pointer;">
                    <rect width="35" height="35" rx="5" fill="#FCAF05"/>
                    <path d="M16.27 23.5392C17.883 23.5389 19.4495 22.9989 20.7202 22.0053L24.715 26L26 24.7151L22.0051 20.7204C22.9993 19.4498 23.5396 17.883 23.54 16.2696C23.54 12.2613 20.2785 9 16.27 9C12.2615 9 9 12.2613 9 16.2696C9 20.2779 12.2615 23.5392 16.27 23.5392ZM16.27 10.8174C19.2771 10.8174 21.7225 13.2627 21.7225 16.2696C21.7225 19.2765 19.2771 21.7218 16.27 21.7218C13.2629 21.7218 10.8175 19.2765 10.8175 16.2696C10.8175 13.2627 13.2629 10.8174 16.27 10.8174Z" fill="white" stroke="white"/>
                  </svg>
                  <button @click="openDeleteModal(result._id)">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="35" height="35" rx="5" fill="#FFDDDD"/>
                      <path d="M24.5 11H20.75L20.4563 10.4156C20.394 10.2907 20.2982 10.1856 20.1795 10.1122C20.0608 10.0388 19.9239 9.99991 19.7844 10H16.2125C16.0732 9.99947 15.9367 10.0382 15.8184 10.1117C15.7001 10.1852 15.6049 10.2905 15.5437 10.4156L15.25 11H11.5C11.3674 11 11.2402 11.0527 11.1464 11.1465C11.0527 11.2402 11 11.3674 11 11.5V12.5C11 12.6326 11.0527 12.7598 11.1464 12.8536C11.2402 12.9473 11.3674 13 11.5 13H24.5C24.6326 13 24.7598 12.9473 24.8536 12.8536C24.9473 12.7598 25 12.6326 25 12.5V11.5C25 11.3674 24.9473 11.2402 24.8536 11.1465C24.7598 11.0527 24.6326 11 24.5 11ZM12.6625 24.5938C12.6863 24.9746 12.8544 25.332 13.1325 25.5932C13.4106 25.8545 13.7778 26 14.1594 26H21.8406C22.2222 26 22.5894 25.8545 22.8675 25.5932C23.1456 25.332 23.3137 24.9746 23.3375 24.5938L24 14H12L12.6625 24.5938Z" fill="#F26464"/>
                    </svg>
                  </button>
                </td>
              </tr>
              <tr class="additional-info" style="display: none;">
                <td colspan="5" class="additional-info-td">
                  <table class="additional-info-table">
                    <tr>
                      <td>Keyword/Product Name</td>
                      <td>Manufacturer</td>
                      <!-- <td>Product Name</td> -->
                      <td>Category</td>
                      <!-- <td>Speciality</td> -->
                      <td>Risk Level</td>
                      <td>Exclude</td>
                      <td>Source</td>
                    </tr>
                    <tr>
                      <td> 
                        <span v-if='result.keywordQuery'>{{ result.keywordQuery }}</span>
                        <span v-else>{{ result.productName }}</span>
                        <span v-if='!result.productName && !result.keywordQuery'>/</span>
                      </td>
                      <td> 
                        <span v-if='result.manufacturerName'>{{result.manufacturerName}}</span> 
                        <span v-else>/</span>
                      </td>
                      <td> 
                        
                        <!-- <span v-if='result.productCategory'>{{ result.productCategory }} </span>
                        <span v-else>/</span> -->
                        <span>{{result.productCategory}}</span>
                      </td>
                      <!-- <td>?????</td> -->
                      <td>
                        <span v-if='result.riskLevel'>{{ result.riskLevel }}</span>
                        <span v-else>/</span>
                      </td>
                      <td> {{ result.exclude }} </td>
                      <td>
                        <span v-if='Array.isArray(result.sources)'>
                          <span v-for="(source, index) in result.sources" :key="index">
                          {{ source }} <br/>
                          </span>
                        </span>
                        <span v-else>{{ result.sources }}</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <DeleteModal 
      @click="closeDeleteModal" 
      @deleted='deleteSavedSearch'
    />
  </div>
</template>

<script>
import Header from '@/components/layout/header.vue';
import LoggedInUserHeader from '@/components/user/dashboard/core/TopBar.vue';
import Sidebar from '@/components/user/dashboard/core/sidebar.vue';
import DeleteModal from '@/components/user/modals/delete.vue';
import LoadAnimation from '@/components/global/loadAnimation.vue';
import {axiosClient} from "@/axios-client";

export default {
  name: 'saved-searches',
  components: {
    LoggedInUserHeader,
    Header,
    Sidebar,
    DeleteModal,
    LoadAnimation
  },

  data () {
    return {
      results: [],
      dataToDelete: null,
      months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug", "Sep", "Oct", "Nov", "Dec"],
      currentUser: {}
    }
  },

  created () {  
    this.$store.commit('resultsAreLoading')
    axiosClient.get('v1/search/registrations/saved-searches')
      .then((response) => {
        response.data.forEach(el => {
          this.results.push(el)
        });
        this.$store.commit('resultsLoaded')
      })
      // .catch((err) => {console.log(err)})
    axiosClient.get('v1/account')
        .then((response) => {
          this.currentUser = response.data;
      });
  },

  methods: {
    tableDropdown(e) {
      e.target.classList.toggle('active-button');
      let detailRow = e.target.parentElement.parentElement.nextSibling;
      if(detailRow.style.display == 'none') {
        detailRow.style.display = 'table-row';
      } else {
        detailRow.style.display = 'none';
      }
    },

    openDeleteModal(itemName) {
      document.querySelector('.delete-modal-wrapper').style.opacity = '1';
      document.querySelector('.delete-modal-wrapper').style.zIndex = '999';
      document.querySelector('.delete-modal-wrapper').classList.add('isModalOpen');
      document.querySelector('body').style.overflow = 'hidden';
      this.dataToDelete = itemName;
    },

    closeDeleteModal() {
      document.querySelector('.delete-modal-wrapper').style.opacity = '0';
      document.querySelector('.delete-modal-wrapper').style.zIndex = '-999';
      document.querySelector('.delete-modal-wrapper').classList.remove('isModalOpen');
      document.querySelector('body').style.overflow = 'auto';
    },

    searchSavedItem(searchItem) {
      axiosClient.patch('/v1/search/registrations/saved-searches/' + searchItem._id, {
        dateLastSearched: this.parseTodaysDate(),
        resultsCount: searchItem.resultsCount
      })

      if(searchItem.keywordQuery) {
        return (window.location.href = '/search?keyword=' + searchItem.keywordQuery + '&manufacturer=' + searchItem.manufacturerName + '&src=' + searchItem.sources + '&spec=' + searchItem.specialty + '&cat=' + searchItem.productCategory + '&risk=' + searchItem.riskLevel + '&exclude=' + searchItem.exclude);
      } else if(searchItem.productName) {
        return (window.location.href = '/search?keyword=' + searchItem.productName + '&manufacturer=' + searchItem.manufacturerName  + '&src=' + searchItem.sources + '&spec=' + searchItem.specialty + '&cat=' + searchItem.productCategory + '&risk=' + searchItem.riskLevel + '&exclude=' + searchItem.exclude);
      }
    },

    deleteSavedSearch() {
      let valueOfToBeDeleted = this.dataToDelete;
      axiosClient.delete('v1/search/registrations/saved-searches/' + valueOfToBeDeleted)
            .then(this.updateAfterDelete);
    },

    updateAfterDelete() {
      this.$store.commit('resultsAreLoading')
      this.results = [];
      axiosClient.get('v1/search/registrations/saved-searches')
      .then((response) => {
        response.data.forEach(el => {
          this.results.push(el)
        });
        this.$store.commit('resultsLoaded')
      })
    },

    formatDate(date) {
      let fullDate = new Date(date.replace(/-/g, "/"));
      let d = fullDate.getDate();
      let m = this.months[fullDate.getMonth()];
      let y = fullDate.getFullYear();
      return `${m} ${d}, ${y}`;
    },

    parseTodaysDate() {
      let date = new Date();
      let d = date.getDate();
      let m = date.getMonth() + 1;
      let y = date.getFullYear();
      return `${y}-${m}-${d}`;
    }
  }
}
</script>

<style lang="scss">
  .saved-searches {
    position: relative;

    .saved-searches-wrapper {
      display: flex;
      justify-content: space-between;
      min-height: 100vh;
      background: #f9f9f9;

      .saved-searches-main {
        width: 70%; //70%
        margin: 40px auto 0 auto;
        padding-bottom: 50px;

        .container {
          max-width: 100%;
        }

        h1 {
          font-family: "Gotham-Medium";
          margin-bottom: 30px;
        }

        table.saved-searches-table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 0 10px;
          font-family: "Gotham-Book";
          font-size: 16px;
          line-height: 26px;

          tr {
            background: #fff;

            td {
              padding: 15px 15px 15px 0;
              width: 17%; //todo

              &:first-of-type {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
              }
              
              &:last-child {
                // width: 12%;
                text-align: right;
              }

              &:last-of-type {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;

                  a {
                    margin-right: 10px;
                  }

                button {
                  border: none;

                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }

          thead {
            font-family: "Gotham-Medium";

            tr td {
              padding: 15px 0;

              &:first-of-type {
                padding-left: 50px;
              }

              &:last-of-type {
                padding-right: 50px;
              }
            }
          }

          tbody {
            tr {
              td {
                &:first-of-type {
                  padding-left: 50px;

                  button {
                    margin-right: 15px;
                    border: none;

                    &:focus {
                      outline: none;
                    }
                  }
                }

                &.view-details {
                  button {
                    border: none;
                    width: 180px;
                    font-family: "Gotham-Book";
                    background: #ebebeb;
                    color: #676868;

                    &:focus {
                      outline: none;
                    }

                    &.active-button {
                      background: #FCAF05;
                      color: #fff;
                      font-family: "Gotham-Bold";

                      svg {
                        transform: rotate(180deg);

                        path {
                          fill: #fff;
                        }
                      }
                    }

                    svg {
                      margin-left: 15px;
                      transition: 0.3s;
                    }
                  }
                }
              }

              &.additional-info {
                display: none;
                td.additional-info-td {
                  padding: 0;

                  table.additional-info-table {
                    width: 100%;
                    tr {
                      &:first-of-type {
                        td {
                          padding: 0 5px 10px 5px;
                          background: #f9f9f9;
                          border-radius: 0 !important;
                        }
                      }
                      td {
                        padding: 10px 5px;
                        font-size: 14px;
                        vertical-align: top;
                        text-align: left;

                        &:nth-of-type(1) {
                          width: 20%;
                        }

                        &:nth-of-type(2) {
                          width: 210px;
                        }

                        &:nth-of-type(4) {
                          width: 70px;
                        }

                        &:nth-of-type(5) {
                          width: 80px;
                          text-align: right;
                        }

                        &:first-of-type {
                          padding-left: 50px;
                        }

                        &:last-of-type {
                          padding-right: 15px;
                          text-align: right;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
</style>