<template>
	<div id="pageView">
		<transition name="fade" mode="out-in">
			<router-view></router-view>
		</transition>
	</div>
</template>

<script>
export default {
	name: 'PageView',

}
</script>

<style lang="scss">
	#pageView {
		padding: 20px 45px;
		padding-bottom: 50px;
		overflow-y: scroll;
		height: auto;
		max-height: 100vh;
		min-height: 100vh;
		background: var(--background);
		
		.fade-enter-active,.fade-leave-active {
			transition: opacity 200ms;
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
			opacity: 0;
		}

		@media (max-width: 1000px) {
			margin-left: -150px;
		}

		@media (max-width: 650px) {
			margin: 0;
		}

		@media (max-width: 480px) {
			padding: 20px 25px;
		}
	}
</style>