@font-face {
  font-family: "Gotham-Book";
  src: url("~@/assets/fonts/Gotham/Gotham-Book.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("~@/assets/fonts/Gotham/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("~@/assets/fonts/Gotham/Gotham-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("~@/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
