@font-face {
  font-family: "Ubuntu-Regular";
  src: url("~@/assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu-Italic";
  src: url("~@/assets/fonts/Ubuntu/Ubuntu-Italic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("~@/assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu-MediumItalic";
  src: url("~@/assets/fonts/Ubuntu/Ubuntu-MediumItalic.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("~@/assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Rhesmanisa";
  src: url("~@/assets/fonts/Rhesmanisa.otf") format("truetype");
  font-weight: 400;
}

.container {
  max-width: 1120px;
  margin: auto;
  padding: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

p,
a,
span,
input,
table tr td,
label {
  font-family: "Ubuntu-Regular";
  color: #434343;
}

strong {
  font-family: "Ubuntu-Bold";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu-Medium";
  color: #434343;
}

form h2 {
  font-size: 18px;
  line-height: 29px;
  font-family: "Ubuntu-Bold";
}

form h3 {
  font-size: 16px;
  font-family: "Ubuntu-Bold";
}

form input {
  background: #F9F9F9;
  border: 1px solid #EBEBEB;
  height: 35px;
  width: 100%;
  padding-left: 9px;
}

form input::-webkit-input-placeholder {
  color: #434343;
  font-size: 14px;
}

form input:-ms-input-placeholder {
  color: #434343;
  font-size: 14px;
}

form input::-ms-input-placeholder {
  color: #434343;
  font-size: 14px;
}

form input::placeholder {
  color: #434343;
  font-size: 14px;
}

form input:focus::-webkit-input-placeholder {
  color: transparent;
}

form input:focus:-ms-input-placeholder {
  color: transparent;
}

form input:focus::-ms-input-placeholder {
  color: transparent;
}

form input:focus::placeholder {
  color: transparent;
}

form input:focus {
  outline: none;
}

form .text-center {
  padding: 0;
}

form .align-right {
  text-align: right;
  padding-right: 30px;
}

form .custom-check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form .custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

form .custom-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
}

.form-name-title {
  font-size: 30px;
  line-height: 48px;
}

.form-link-mail {
  color: #32A37F;
}

.form-link-mail:hover {
  text-decoration: none;
  color: #32A37F;
}

.empty-btn {
  border: 2px solid #32A37F;
  border-radius: 5px;
  background: transparent;
  color: #32A37F;
  font-family: "Ubuntu-Medium";
  padding: 13px 25px;
}

.full-btn {
  background: #32A37F;
  border-radius: 5px;
  font-family: "Ubuntu-Medium";
  padding: 13px 25px;
  border: none;
  color: #fff;
  font-size: 16px;
}

@media (max-width: 1250px) {
  .container {
    width: 90%;
  }
  .wrapper .container {
    width: 100%;
  }
  .wrapper .form-desc,
  .wrapper form,
  .wrapper .progress-frame {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 0 0 50px 0 !important;
  }
}
/*# sourceMappingURL=global.css.map */