.container,
.container-fluid {
  padding: 0;
}

// html,
// body {
//   max-width: 1920px;
//   margin: auto;
// }

.container {
  @media (min-width: 1920px) {
    max-width: 90%;
  }

  max-width: 1320px;
}

h1 {
  font-family: "Gotham-Bold", sans-serif;
}

p {
  font-size: 16px;
  line-height: 27px;
}

p,
input,
input::placeholder,
ul, 
li {
  font-family: "Gotham-Book", sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.title {
  font-size: 32px;
  line-height: 51px;
  color: #333;
}

.orange-btn {
  background: #FCAF05;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 15px;
  font-family: "Gotham-Medium", sans-serif;

  &:hover {
    color: #fff;
  }
}

.isModalOpen {
  background: rgba(48, 48, 48, 0.1);
  backdrop-filter: blur(10px);
}


.custom-check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background: url("~@/assets/images/common/checked.svg") center center no-repeat;
      border: 2px solid #FCAF05;
    }
  }

  .checkmark {
    position: absolute;
    // top: 4px;
    top: -6px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #f9f9f9;
    border: 1px solid #cdcdcd;
    //border-radius: 100%;
  }

  .disabled {
    color: grey;
  }
}