<template>
	<button type="submit" class="edit-button-link">
		{{ editingModeOn ? 'Discard' : 'Edit' }}
	</button>
</template>

<script>
	export default {
		props: {
			editingModeOn: {
				type: Boolean,
				default: false
			}
		}

	}
</script>

<style lang="scss">
	.edit-button-link {
		bottom: 5px;
		left: 110%;
		display: inline-block;
		font-size: 16px;
		border: none;
		background: transparent;
		color: #505050;
	}

	.edit-button-link:hover {
		text-decoration: none;
	}

	.edit-button-link:focus {
		outline: none;
	}

	@media only screen and (max-width: 420px) {
		.edit-button-link {
			position: static;
			bottom: 5px;
			left: 110%;
			display: inline-block;
			font-size: 16px;
			border: none;
			background: transparent;
			color: #ff5000;
			text-decoration: none;
		}
	}
</style>