<template>
  <div>
    <form @submit.prevent="onSubmit" class="multi-apply-form" novalidate>
      <img class="logo-img" src="@/assets/images/logo/logo.svg" alt="Multi Unit Pros Application" />

      <vue-form-json-schema
        v-model="model"
        :schema="schema"
        :ui-schema="uiSchema"
        :options="options"
        v-on:validated="onValidated"
        class="vue-form"
        ref="form"
      ></vue-form-json-schema>

      <div class="form-group is-adult-wrapper">
        <input type="checkbox" id="is-adult" v-model="isAdult" />
        <label class="is-adult-label" for="is-adult">I am 18 or older</label>
      </div>

      <div class="form-group terms-wrapper">
        <label>
          Terms and conditions
          <span class="light-text">(Scroll down to accept)</span>
        </label>
        <div class="terms-scroll-box">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reiciendis quibusdam iusto neque vero exercitationem, voluptatem, at aliquid deleniti laudantium error odio eos natus libero quisquam nulla repellat eveniet soluta pariatur culpa, fuga recusandae. Odio modi sint aliquam tenetur minus explicabo maxime aliquid a ullam, porro dolor quos ipsam sed!
          <hr />
          <input type="checkbox" id="terms-agree" v-model="termsAgree" />
          <label class="i-agree-label" for="terms-agree">Agree</label>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-block submit-btn">Submit form</button>
      </div>

      <transition name="fade" mode="out-in">
        <div
          v-if="submitted && success"
          class="alert alert-success"
          key="success"
        >Form submitted successfully!</div>
        <div
          v-if="!isAdult && submitted && valid"
          class="alert alert-danger"
          key="has-errors"
        >You must be 18 or older to apply</div>
        <div
          v-if="!termsAgree && isAdult && submitted && valid"
          class="alert alert-danger"
          key="has-errors"
        >
          You must agree with our
          <br />Terms and Conditions
        </div>
      </transition>

      <transition name="fade" mode="out-in">
        <div
          v-if="pleaseFixErrors"
          class="alert alert-danger"
          key="has-errors"
        >Please fix errors and resubmit</div>
      </transition>

      <transition name="fade" mode="out-in">
        <div
          v-if="passwordsDontMatch"
          class="alert alert-danger"
          key="has-errors"
        >Passwords do not match</div>
      </transition>

      <transition name="fade" mode="out-in">
        <div
          v-if="responseErrors.emailAlreadyExists && submitted && !success"
          class="alert alert-danger"
          key="has-errors"
        >That email already exists</div>
      </transition>
    </form>
  </div>
</template>

<script>
import config from "@/config/config";
// Services
import ApplicationFormService from "@/services/ApplicationFormService";
// Components
import VueFormJsonSchema from "vue-form-json-schema";
// Helpers

export default {
  name: "UserApplication",
  components: {
    VueFormJsonSchema
  },
  data() {
    return {
      model: {},
      schema: {},
      state: {},
      valid: false,
      options: {
        castToSchemaType: false,
        validateOnLoad: false
      },
      submitted: false,
      success: false,

      pleaseFixErrors: false,
      firstAndLastNameError: false,
      termsAgree: false,
      isAdult: false,
      passwordsDontMatch: false,

      responseErrors: {
        emailAlreadyExists: false
      },
      uiSchema: [
        // Div for firstName
        {
          component: "div",
          fieldOptions: {
            class: ["form-group"]
          },
          children: [
            {
              component: "label",
              fieldOptions: {
                attrs: {
                  for: "first-name"
                },
                class: ["first-name-label"],
                domProps: {
                  innerHTML: "First name <span class='required'>*</span>"
                }
              }
            },
            // Input for firstName
            {
              component: "input",
              model: "firstName",
              errorOptions: {
                class: ["is-invalid"]
              },
              fieldOptions: {
                attrs: {
                  id: "firstname",
                  autocomplete: "off",
                  required: true
                },
                class: ["form-control"],
                on: "input"
              }
            }
          ]
        },
        // Validation messages for firstName
        {
          component: "transition",
          fieldOptions: {
            props: {
              name: "fade"
            }
          },
          children: [
            {
              component: "div",
              model: "firstName",
              errorHandler: true,
              displayOptions: {
                model: "firstName",
                schema: {
                  minLength: 2
                }
              },
              fieldOptions: {
                class: ["alert alert-danger"]
              },
              children: [
                {
                  component: "div",
                  fieldOptions: {
                    domProps: {
                      innerHTML: "First name is required"
                    }
                  }
                }
              ]
            }
          ]
        },

        // Div for middleName
        {
          component: "div",
          fieldOptions: {
            class: ["form-group"]
          },
          children: [
            {
              component: "label",
              fieldOptions: {
                attrs: {
                  for: "middle-name"
                },
                class: ["middle-label"],
                domProps: {
                  innerHTML: "Middle name"
                }
              }
            },
            // Input for middleName
            {
              component: "input",
              model: "middleName",
              errorOptions: {
                class: ["is-invalid"]
              },
              fieldOptions: {
                attrs: {
                  id: "middle-name",
                  autocomplete: "off"
                },
                class: ["form-control"],
                on: "input"
              }
            }
          ]
        },

        // Div for lastName
        {
          component: "div",
          fieldOptions: {
            class: ["form-group"]
          },
          children: [
            {
              component: "label",
              fieldOptions: {
                attrs: {
                  for: "last-name"
                },
                class: ["last-name-label"],
                domProps: {
                  innerHTML: "Last name <span class='required'>*</span>"
                }
              }
            },
            // Input for lastName
            {
              component: "input",
              model: "lastName",
              errorOptions: {
                class: ["is-invalid"]
              },
              fieldOptions: {
                attrs: {
                  id: "last-name",
                  autocomplete: "off",
                  required: true
                },
                class: ["form-control"],
                on: "input"
              }
            }
          ]
        },
        // Validation messages for lastName
        {
          component: "transition",
          fieldOptions: {
            props: {
              name: "fade"
            }
          },
          children: [
            {
              component: "div",
              model: "lastName",
              errorHandler: true,
              displayOptions: {
                model: "lastName",
                schema: {
                  not: {
                    type: "string"
                  }
                }
              },
              fieldOptions: {
                class: ["alert alert-danger"]
              },
              children: [
                {
                  component: "div",
                  fieldOptions: {
                    domProps: {
                      innerHTML: "Last name is required"
                    }
                  }
                }
              ]
            }
          ]
        },

        // Div for "login" (email)
        {
          component: "div",
          fieldOptions: {
            class: ["form-group"]
          },
          children: [
            {
              component: "label",
              fieldOptions: {
                attrs: {
                  for: "login"
                },
                class: ["email-label"],
                domProps: {
                  innerHTML: "Email <span class='required'>*</span>"
                }
              }
            },
            // Input for "login" (email)
            {
              component: "input",
              model: "login",
              errorOptions: {
                class: ["is-invalid"]
              },
              fieldOptions: {
                attrs: {
                  id: "email",
                  autocomplete: "off",
                  required: true
                },
                class: ["form-control"],
                on: "input"
              }
            }
          ]
        },
        // Validation messages for Email
        {
          component: "transition",
          fieldOptions: {
            props: {
              name: "fade"
            }
          },
          children: [
            // Required field email
            {
              component: "div",
              model: "login",
              errorHandler: true,
              displayOptions: {
                model: "login",
                schema: {
                  not: {
                    type: "string"
                  }
                }
              },
              fieldOptions: {
                class: ["alert alert-danger"]
              },
              children: [
                {
                  component: "div",
                  fieldOptions: {
                    domProps: {
                      innerHTML: "Email field is required"
                    }
                  }
                }
              ]
            },
            // Valid format email
            {
              component: "div",
              model: "login",
              errorHandler: true,
              displayOptions: {
                model: "login",
                schema: {
                  not: {
                    format: "email"
                  }
                }
              },
              fieldOptions: {
                class: ["alert alert-danger"]
              },
              children: [
                {
                  component: "div",
                  fieldOptions: {
                    domProps: {
                      innerHTML: "Not a valid email"
                    }
                  }
                }
              ]
            }
          ]
        },

        // Div for password
        {
          component: "div",
          fieldOptions: {
            class: ["form-group"]
          },
          children: [
            {
              component: "label",
              fieldOptions: {
                attrs: {
                  for: "password"
                },
                class: ["password-label"],
                domProps: {
                  innerHTML: "Password <span class='required'>*</span>"
                }
              }
            },
            // Input for password
            {
              component: "input",
              model: "password",
              errorOptions: {
                class: ["is-invalid"]
              },
              fieldOptions: {
                attrs: {
                  type: "password",
                  id: "password",
                  required: true
                },
                class: ["form-control"],
                on: "input"
              }
            }
          ]
        },
        // Validation messages for password
        {
          component: "transition",
          fieldOptions: {
            props: {
              name: "fade"
            }
          },
          children: [
            {
              component: "div",
              model: "password",
              errorHandler: true,
              displayOptions: {
                model: "password",
                schema: {
                  not: {
                    type: "string"
                  }
                }
              },
              fieldOptions: {
                class: ["alert alert-danger"]
              },
              children: [
                {
                  component: "div",
                  fieldOptions: {
                    domProps: {
                      innerHTML: "Password is required"
                    }
                  }
                }
              ]
            }
          ]
        },

        // Div for confirmPassword
        {
          component: "div",
          fieldOptions: {
            class: ["form-group"]
          },
          children: [
            {
              component: "label",
              fieldOptions: {
                attrs: {
                  for: "confirmPassword"
                },
                class: ["confirmPassword-label"],
                domProps: {
                  innerHTML: "Confirm password <span class='required'>*</span>"
                }
              }
            },
            // Input for confirmPassword
            {
              component: "input",
              model: "confirmPassword",
              errorOptions: {
                class: ["is-invalid"]
              },
              fieldOptions: {
                attrs: {
                  type: "password",
                  id: "confirmPassword",
                  required: true
                },
                class: ["form-control"],
                on: {
                  input: value => {
                    if (value.target.value !== this.model.password) {
                      this.passwordsDontMatch = true;
                    }

                    this.passwordsDontMatch = false;
                    return value.target.value;
                  }
                }
              }
            }
          ]
        },

        // Div for dateOfBirth
        {
          component: "div",
          fieldOptions: {
            class: ["form-group"]
          },
          children: [
            {
              component: "label",
              fieldOptions: {
                attrs: {
                  for: "date-of-birth"
                },
                class: ["date-label"],
                domProps: {
                  innerHTML: "Date of birth <span class='required'>*</span>"
                }
              }
            },
            // Input for dateOfBirth
            {
              component: "input",
              model: "dateOfBirth",
              errorOptions: {
                class: ["is-invalid"]
              },
              fieldOptions: {
                attrs: {
                  type: "date",
                  id: "date-of-birth",
                  required: true
                },
                class: ["form-control"],
                on: ["input"]
              }
            }
          ]
        },
        // Validation messages for dateOfBirth
        {
          component: "transition",
          fieldOptions: {
            props: {
              name: "fade"
            }
          },
          children: [
            {
              component: "div",
              model: "dateOfBirth",
              errorHandler: true,
              displayOptions: {
                model: "dateOfBirth",
                schema: {
                  not: {
                    type: "string"
                  }
                }
              },
              fieldOptions: {
                class: ["alert alert-danger"]
              },
              children: [
                {
                  component: "div",
                  fieldOptions: {
                    domProps: {
                      innerHTML: "Date of birth field is required"
                    }
                  }
                }
              ]
            },
            {
              component: "div",
              model: "dateOfBirth",
              errorHandler: true,
              displayOptions: {
                model: "dateOfBirth",
                schema: {
                  not: {
                    format: "date"
                  }
                }
              },
              fieldOptions: {
                class: ["alert alert-danger"]
              },
              children: [
                {
                  component: "div",
                  fieldOptions: {
                    domProps: {
                      innerHTML: "Format of date is not valid"
                    }
                  }
                }
              ]
            }
          ]
        }
      ]
    };
  },

  created() {
    this.getFormSchema();
  },

  methods: {
    async getFormSchema() {
      try {
        const res = await ApplicationFormService.getFormSchema();
        const schema = res.data;
        this.schema = schema;
        // this.valid = false

        // console.log('Res: ', res.data)
        // console.log('Schema: ', this.schema)
      } catch (err) {
        console.log(err);
      }
    },

    onValidated(value) {
      // console.log('onValidated: ', value)
      this.valid = value;

      if (value === true) this.pleaseFixErrors = false;
    },

    resetForm() {
      // // Reset form
      // this.state = {}
      // this.model = {
      //   fullName: '',
      //   email: '',
      //   dateOfBirth: ''
      // }
      // this.options = {
      //   castToSchemaType: true
      // }
      // this.submitted = true
      // setTimeout(() => {
      //   this.submitted = false
      //   this.success = false
      // }, 2000);
      // this.valid = false
    },

    areFormAdditionalFieldsValid() {
      if (
        !this.model.firstName ||
        this.model.firstName === "" ||
        !this.model.lastName ||
        this.model.lastName === ""
      )
        return false;
      // Confirm password
      if (this.model.password && this.model.password === this.confirmPassword) {
        this.passwordsDontMatch = false;
      } else if (
        this.model.password &&
        this.model.password !== this.model.confirmPassword
      ) {
        this.passwordsDontMatch = true;
        return false;

        // If form schema is valid
      } else if (this.valid && this.submitted) {
        this.pleaseFixErrors = false;

        // 18 or older
        if (!this.isAdult) return false;
        // Terms and conditions
        else if (!this.termsAgree) return false;
        // Whole form valid
        else return true;
      } else {
        return false;
      }
    },

    async formApply() {
      try {
        const res = await ApplicationFormService.submitForm(this.model);

        if (res.status === 201) {
          // Successful submit message
          this.success = true;
          this.submitted = true;
        }
      } catch (err) {
        this.success = false;
        if (
          err.response.data.name === "Error" &&
          err.response.data.message === "User already exists"
        ) {
          this.responseErrors.emailAlreadyExists = true;
        } else console.error(err.response);
      }
    },

    async onSubmit() {
      this.submitted = true;
      this.options.showValidationErrors = true;

      // Trim fields
      if (
        this.model.login &&
        typeof this.model.login === "string" &&
        this.model.login !== ""
      )
        this.model.login = this.model.login.trim();

      // Set users email to "login" field
      this.model.email = this.model.login;
      // TODO: Set roles when admin updates a user???
      this.model.roles = ["user"];

      // TODO: Wrap this in its own nameHandler function
      const firstName = this.model.firstName;
      const lastName = this.model.lastName;
      const middleName = this.model.middleName;

      const isSetFirstName =
        firstName && firstName !== "" && firstName !== undefined;
      const isSetLastName =
        lastName && lastName !== "" && lastName !== undefined;
      const isSetMiddleName =
        middleName && middleName !== "" && middleName !== undefined;

      // Set users names are set
      if (isSetFirstName && isSetLastName && isSetMiddleName) {
        this.model.firstName = firstName.trim();
        this.model.lastName = lastName.trim();
        this.model.middleName = middleName.trim();
        this.model.fullName = `${firstName.trim()} ${middleName.trim()} ${lastName.trim()}`;
      } else if (isSetFirstName && isSetLastName) {
        this.model.firstName = firstName.trim();
        this.model.lastName = lastName.trim();
        this.model.fullName = `${firstName.trim()} ${lastName.trim()}`;
      } else if (isSetFirstName && isSetMiddleName) {
        this.model.firstName = firstName.trim();
        this.model.middleName = middleName.trim();
        this.model.fullName = `${firstName.trim()} ${middleName.trim()}`;
      } else {
        // Remove fullName from the model
        this.model.fullName = "";
      }

      // Check if all form fields are valid
      const isValid = this.areFormAdditionalFieldsValid();

      // If form is valid send the request
      if (isValid) {
        // Sanitize user input
        const userInput = this.sanitizeUserInput();

        // Send the request to apply on the form
        this.formApply();
      } else {
        return (this.pleaseFixErrors = true);
      }
    },

    sanitizeUserInput() {
      // Remove empty strings and undefined values from user data
      const userModel = this.model;
      const userInput = {};

      for (let key in userModel) {
        if (
          userModel.hasOwnProperty(key) &&
          userModel[key] !== undefined &&
          userModel[key] !== null &&
          userModel[key] !== ""
        ) {
          // console.log(`${key} : ${userModel[key]}`)
          let value;
          typeof userModel[key] === "string"
            ? (value = userModel[key].trim())
            : (value = userModel[key]);

          // Append properties and values
          userInput[key] = value;
        }
      }

      return userInput;
    }

    // // Add Mailwizz subscriber
    // async addMailwizzSubscriber() {
    // 	try {
    // 		const data = {
    // 			email: this.model.login,
    // 			fname: this.model.fullName.split(' ')[0],
    // 			lname: this.model.fullName.split(' ')[1]
    // 		}

    // 		// const res = await ApplicationFormService.addMailwizzSubscriber(data)
    // 		// console.log('RES: ', res)

    // 		const res = await fetch('https://store2.bestcashgigs.com/AlphaDelivered/operations/newSubscriber.php', {
    // 			method: 'POST',
    // 			mode: 'no-cors',
    // 			headers: {
    // 				'Content-Type': 'application/json'
    // 			},
    // 			body: JSON.stringify(data)
    // 		})

    // 		// const json = await res.json();

    // 		console.log('JSON: ', res)
    // 	} catch (err) {
    // 		console.error(err.response)
    // 	}
    // }
  } /* Methods */
};
</script>

<style lang="scss">
.multi-apply-form {
  width: 100%;
  height: 100%;
  padding: 30px 30px 15px 30px;
  background-color: $apply-form-bg-color;

  .logo-img {
    max-width: 120px;
  }

  .form-group {
    text-align: left;
  }

  input {
    font-size: 15px;
    background-color: transparent;
    // background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    transition: background-color 250ms ease-in-out;

    &:focus {
      outline: none;
      box-shadow: none;
      border-bottom-color: #f6a800;
    }
    &:active {
      background: transparent !important;
    }

    // Styles for valid 'required' input fields
    &:valid {
      // border-bottom-color: #fff;
    }

    // Styles for invalid 'required' input fields
    &:invalid {
      // outline: solid red 1px;
      // border-bottom-color: #f6a800;
    }
  }

  label {
    color: #fff;

    .required {
      color: #a90000;
    }
  }

  /* 18 or older */
  .is-adult-wrapper {
    margin: 30px 0 15px 0;

    .is-adult-label {
      margin-left: 8px;
    }
  }

  input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
  }

  /* Terms and Conditions */
  .terms-wrapper {
    .light-text {
      color: #a3a3a3;
    }

    .terms-scroll-box {
      overflow-y: scroll;
      height: 100px;
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px;
      background-color: #fff;
      color: #333;
      font-size: 14px;

      label {
        color: #333;
      }

      .i-agree-label {
        margin-left: 8px;
      }
    }
  }
  /* Error messages */
  .alert {
    padding: 0.5rem 1.25rem;
  }
}

.submit-btn {
  margin-top: 30px;
  background-color: rgba(250, 57, 57, 1);
  border: 2px solid rgba(250, 57, 57, 1);
  border-radius: 0;
  color: #fff;

  &:hover {
    border: 2px solid rgba(250, 57, 57, 1);
    background-color: rgba(250, 57, 57, 1);
    color: #fff;
  }
}

/* Media queries */
@media (max-width: 576px) {
  .multi-apply-form {
    padding: 20px 15px;
  }
}

@media (max-width: 400px) {
  .multi-apply-form {
    .light-text::before {
      content: " ";
      display: block;
    }
  }
}
</style>