<template>
  <div class='billing-info'>
    <Header/>
    <div class="billing-info-wrap">
      <div class="billing-info-main">
        <StripeCheckout/>
        <div class="founder-fee">
          <h2>Founder Fee</h2>
          <p>&dollar;300</p>
          <span>per year</span>
          <h4>Membership Includes:</h4>
          <ul>
            <li>Set Expiration Alerts</li>
            <li>Identify Predicates</li>
            <li>Research Classifications</li>
            <li>Access to exclusive ROSE data and tools</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/layout/header.vue';
import StripeCheckout from '@/components/global/stripe/checkout.vue'

export default {
  name: 'billing-info',
  components: {
    Header,
    StripeCheckout
  }
}
</script>

<style lang="scss">
  .billing-info {
    background: #f9f9f9;
    min-height: 100vh;
    width: initial;

    .billing-info-wrap {
      display: flex;
      justify-content: center;

      .billing-info-main {
        width: 880px;
        margin-top: 105px;
        display: flex;
        justify-content: space-between;

        .founder-fee {
          width: 320px;
          padding: 50px 50px 0 50px;
          background: #fff;
          box-shadow: 0px 4px 35px rgba(51, 51, 51, 0.06);
          border-radius: 15px;

          h2 {
            font-size: 26px;
            line-height: 42px;
            margin-bottom: 17px;
          }

          p {
            font-size: 42px;
            margin-bottom: 6px;
          }

          span {
            font-family: "Gotham-Book", sans-serif;
          }

          h4 {
            font-size: 18px;
            line-height: 17px;
            margin: 45px 0 30px 0;
          }
        }
      }
    }
  }
</style>