<template>
  <div class="forgot-password">
    <Header v-if='true'/>
    <div class="forgot-main">
      <form @submit.prevent class="reset-pass-form">
        <h1 class="title">Forgot Password?</h1>
        <input type="email" v-model='email' placeholder="Email"/>
        <span class="errors">Errors</span>
        <button class="orange-btn" @click='forgotPassword'>Reset Password</button>
      </form>
    </div>
  </div>
</template>

<script>
import { axiosClient } from '@/axios-client';

export default {
  name: "reset-password",

  data() {
    return {
      email: this.currentUser.email
    }
  },

  created() {
    axiosClient.get('v1/account')
      .then((response) => {
        this.currentUser = response.data;
    });
  },

  methods: {
    forgotPassword() {
      this.$store.dispatch('forgotPassword', {
        email: this.email
      })
    }
  }
};
</script>

<style lang="scss">
  .forgot-password {
    height: 100vh;
    width: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;

    form.reset-pass-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      padding: 55px 50px;
      box-shadow: 0px 4px 35px rgba(51, 51, 51, 0.06);
      border-radius: 10px;
      align-self: flex-start;
      width: 470px;

      h1.title {
        font-family: "Gotham-Medium";
        margin-bottom: 60px;
      }

      input {
        width: 100%;
        border: 1px solid #CDCDCD;
        border-radius: 10px;
        color: #333;
        font-size: 14px;
        line-height: 13px;
        padding: 16px 20px;
        margin-bottom: 8px;

        &::placeholder {
          color: #676868;
        }

        &:focus {
          outline: none;
        }
      }

      span.errors {
        font-size: 14px;
        color: #f26464;
        visibility: hidden;
        margin-bottom: 16px;
      }

      button.orange-btn {
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }
</style>