<template>

  <div>
    <Header/>
    <LoggedInUserHeader/>
    <div class="hero-frame">
        <div class="keyword-search">
        <form class="input-wrap" @submit.prevent='submitKeywordForm' autocomplete="off">
          <input id='search' type="text" v-model="keywordQuery" placeholder="Keyword search..."/>
          <button type="submit">
            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 16C9.77498 15.9996 11.4988 15.4054 12.897 14.312L17.293 18.708L18.707 17.294L14.311 12.898C15.405 11.4997 15.9996 9.77544 16 8C16 3.589 12.411 0 8 0C3.589 0 0 3.589 0 8C0 12.411 3.589 16 8 16ZM8 2C11.309 2 14 4.691 14 8C14 11.309 11.309 14 8 14C4.691 14 2 11.309 2 8C2 4.691 4.691 2 8 2Z" fill="#676868"/>
            </svg>
          </button>
        </form>
      </div>
        <span class="keyword-examples">Examples: <b @click="searchExample">Balloon Catheter</b>, <b @click="searchExample">Hemodialysis</b>, <b @click="searchExample">ResMed</b></span>
        <div class="hero-title">
          <h1>Research Registrations from Around the World in One Place</h1>
          <p>Registration Optimization Search Engine</p>
        </div>
        <div class="hero-image">
          <img src="@/assets/images/home/asia-hero.png" alt="Asia Actual" class="img-fluid"/>
        </div>
    </div>
    <Faq/>
    <div class="about">
      <div class="container-fluid about-wrap">
        <div class="about-img-wrap">
          <img src="@/assets/images/home/about.png" alt="About Asia Actual" class="img-fluid"/>
        </div>
        <div class="about-text">
          <h2 class="title">What is ROSE?</h2>
          <p>ROSE is an online platform for data driven regulatory affairs professionals that need to stay attuned to the latest regulatory approvals and business executives looking to track market trends and competitors. ROSE members are able to track global regulatory databases all in one place.</p>
          <p>Allowing medical device professionals to efficiently and intuitively get the answers they need immediately while setting reminders and alerts for crucial regulatory, and business, activities.</p>
          <p>Provides Access to (Total Records) across (#) of countries.</p>
          <router-link to="/search" class="orange-btn">
            <a>Get Started</a>
          </router-link>
        </div>
      </div>
    </div>
    <div class="fee">
      <h3 class="title" style="text-align: center">Become a Founding Member</h3>
      <p class="subtitle">Founding Members will be assigned a Member number, receive unique benefits, and most importantly, can renew indefinitely for $300 per year.</p>
      <PricingPlan/>
    </div>
    <Footer/>
  </div>

</template>

<script>
import Header from '@/components/layout/header.vue';
import LoggedInUserHeader from '@/components/user/dashboard/core/TopBar.vue';

import {axiosClient} from "@/axios-client";
import * as isUserLoggedIn from '@/store/isUserLoggedIn';

import Faq from '@/components/global/faq.vue';
import PricingPlan from '@/components/global/pricing-plan.vue';
import Footer from '@/components/layout/footer.vue';

  export default {
    components: {
        Header,
        LoggedInUserHeader,
        Faq,
        PricingPlan,
        Footer
    },

    data() {
      return {
        currentUser: {},
        user: isUserLoggedIn.isUserLoggedIn(),
      }
    },

    methods: {
      searchExample(e) {
        if(this.user) {
          // if(this.currentUser.tier == 'FREE') {
          //   return (window.location.href = '/upgrade');
          // } else {
          //   let exampleValue = e.target.innerText;
          //   document.querySelector('.keyword-search input').value = exampleValue;
          //   return (window.location.href = '/search?keyword=' + exampleValue);
          // }
            let exampleValue = e.target.innerText;
            document.querySelector('.keyword-search input').value = exampleValue;
            return (window.location.href = '/search?keyword=' + exampleValue);
        } else {
          return (window.location.href = '/upgrade');
        }
      },

      submitKeywordForm() {
        // console.log(this.user);
        if(this.user) {
          // if(this.currentUser.tier == 'FREE') {
          //   return (window.location.href = '/upgrade');
          // } else {
          //   let searchValue = document.querySelector('#search').value;
          //   if(!searchValue == '')
          //     return (window.location.href = '/search?keyword=' + searchValue);
          // }
          let searchValue = document.querySelector('#search').value;
          if(!searchValue == '')
            return (window.location.href = '/search?keyword=' + searchValue);
        } else {
          return (window.location.href = '/upgrade');
        }
      }
    },

    created() {
      axiosClient.get('v1/account')
				.then((response) => {
					this.currentUser = response.data;
				})
    }
  }
</script>

<style lang="scss">
  .hero-frame {
    width: initial;
    height: 630px;
    background: linear-gradient(312.89deg, #FC7C05 7.78%, #FCAF05 75.92%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .keyword-search {
      margin: 40px auto 15px auto;

      .input-wrap {
        padding: 7px;
        background: #fff;
        border: 1px solid #ededed;
        box-shadow: 0 4px 15px rgba(51, 51, 51, 0.03);
        border-radius: 15px;
        width: 480px;
        // margin: 40px auto 15px auto;
        margin: 0 auto;
        display: flex;
        align-items: center;

        input {
          background: none;
          border: none;
          width: 100%;
          padding-left: 20px;

          &:focus {
            outline: none;
          }
        }

        button {
          border: none;
          padding: 14px;
          background: #f9f9f9;
          border-radius: 9px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    span.keyword-examples {
      color: #fff;

      b {
        font-family: "Gotham-Medium";
        font-weight: normal;
        cursor: pointer;
      }
    }

    .hero-title {
      max-width: 520px;
      text-align: center;
      margin-top: 55px;

      h1 {
        color: #fff;
        font-size: 32px;
        line-height: 45px;
      }

      p {
        color: #fff;
        margin-bottom: 34px;
      }
    }
  }

  .about {
    .about-wrap {
      display: flex;
      align-items: center;

      .about-img-wrap {
        width: 49%;

        img {
          margin-bottom: 75px;
        }
      }

      .about-text {
        max-width: 690px;
        padding-left: 120px;

        h2.title {
          margin-bottom: 30px;
        }

        p {
          margin-bottom: 24px;
        }

        .orange-btn {
          width: 170px;
          margin-top: 48px;
        }
      }
    }
  }

  .fee {
    padding: 75px 0 120px 0;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 0%, #F8F8F8 100%);

    h3.title {
      margin-bottom: 0;
    }

    p.subtitle {
      max-width: 645px;
      text-align: center;
      margin: 20px auto 60px auto;
    }

    .container.free-wrapper {
      max-width: 1320px !important;
    }
  }
</style>