<template>
  <div class="login">
    <Header v-if='true'/>
    <div class="login-main">
      <form @submit.prevent class="login-form">
        <h1 class="title">Welcome Back!</h1>
        <input v-model.trim='formData.email' type="email" placeholder="Your email"/>
        <input v-model.trim='formData.password' type="password" placeholder="Your password"/>
        <div class="user-actions">
          <label class="custom-check">
            <input type="checkbox" name="remember-me"/>
            <span class="checkmark"></span>
            <p>Remember me</p>
          </label>
          <router-link to="/reset-password">
            <a>Forgot Password?</a>
          </router-link>
        </div>
        <button @click="login" class="orange-btn">Log In</button>
        <span class="login-errors">Errors</span>
        <p class="register-account">Don’t have an account? <router-link to="/register"> <a>Register</a> </router-link> </p>
      </form>
    </div>
  </div>
</template>

<script>
import Header from '@/components/layout/header.vue';

export default {
  name: "login",
  components: {
    Header,
  },

  data() {
    return {
      formData: {
        email: '',
        password: '',
      }
    }
  },

  methods: {
    login() {
      this.$store.dispatch('login', {
        email: this.formData.email,
        password: this.formData.password
      })
    }
  }
};
</script>

<style lang="scss">
  .login-main {
    height: 100vh;
    width: initial;
    display: flex;
    justify-content: center;
    background: #f9f9f9;

    form.login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      padding: 55px 50px;
      box-shadow: 0px 4px 35px rgba(51, 51, 51, 0.06);
      border-radius: 10px;
      align-self: flex-start;
      margin-top: 100px;
      width: 470px;

      h1.title {
        font-family: "Gotham-Medium";
        margin-bottom: 40px;
      }

      input,
      .user-actions,
      .orange-btn {
        width: 100%;
      }

      input {
        width: 100%;
        border: 1px solid #CDCDCD;
        border-radius: 10px;
        color: #333;
        font-size: 14px;
        line-height: 13px;
        padding: 16px 20px;
        margin-bottom: 20px;

        &::placeholder {
          color: #676868;
        }

        &:focus {
          outline: none;
        }
      }

      .user-actions {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;

        .custom-check {
          p {
            padding-left: 27px;
            margin: 0;
            color: #676868;
          }

          .checkmark {
            top: 2px;
          }
        }

        a {
          color: #FCAF05;
          font-family: "Gotham-Medium";
        }
      }

      .loader-container {
        position: static;
        transform: unset;
        margin-bottom: 30px;

        .loader {
          width: 25px;
          height: 25px;
          border: 4px solid #f3f3f3;
          border-top: 4px solid #FCAF05;
        }

        &.activeLoader {
          visibility: hidden;
        }
      }

      button.orange-btn {
        border: none;
        margin-bottom: 10px;

        &:focus {
          outline: none;
        }
      }

      span.login-errors {
        margin-bottom: 30px;
        font-size: 14px;
        color: #f26464;
        visibility: hidden;
      }

      p.register-account {
        margin: 0;

        a a {
          color: #FCAF05;
          font-family: "Gotham-Medium";
        }
      }
    }
  }
</style>