<template>
  <div>
    <Header/>
    <LoggedInUserHeader/>
    <div class="search-mock">
      <div class="search-wrapper">
        <div class="filter-search">
          <div class="container">
            <form class="filter-search-form" autocomplete="off">
              <div class="title-span">
                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 10C16 8.897 15.103 8 14 8H13V5C13 2.243 10.757 0 8 0C5.243 0 3 2.243 3 5V8H2C0.897 8 0 8.897 0 10V18C0 19.103 0.897 20 2 20H14C15.103 20 16 19.103 16 18V10ZM5 5C5 3.346 6.346 2 8 2C9.654 2 11 3.346 11 5V8H5V5Z" fill="#333333"/>
                </svg>
                <h2>Registration Search Fields</h2>
              </div>
              <div class="filter-options-wrap">
                <div class="option-wrap" style="position: relative;">
                  <input 
                    type="text"
                    placeholder="Keyword/Product Name"
                    id="product-name"
                  />
                  <div>
                    <input type="text"
                      id="manufacturer-name"
                      placeholder="Manufacturer Name" 
                    />
                  </div>
                </div>
                <div class="option-wrap category-wrap">
                  <div>
                    <input 
                      type="text"
                      placeholder="Product Category" 
                      id="product-category" 
                    />

                  </div>
                  <div>
                    <input 
                      type="text" 
                      placeholder="Exclude" 
                    />
                  </div>
                </div>
                <div class="option-wrap country-only">
                  <p>(US and Singapore Only)</p>
                  <div>
                    <select d="speciality-select">
                      <option selected :value="null">Medical Speciality</option>
                    </select>
                  </div>
                  <div>
                    <select placeholder="None">
                      <option selected :value="null">Risk Level</option>
                    </select>
                  </div>
                </div>
                <div class="option-wrap">
                  <button type="button" class="sources">
                    Registration Sources
                    <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 6L-4.89399e-07 11.1961L-3.51373e-08 0.803847L9 6Z" fill="#676868"/>
                    </svg>
                  </button>
                  <button class="orange-btn" :disabled='true'>
                    Apply Filters
                  </button>
                </div>
                <button type="button" class="save-search-btn">
                  <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.6667 21C19.2855 21 19.879 20.7542 20.3166 20.3166C20.7542 19.879 21 19.2855 21 18.6667V2.33333C21 1.71449 20.7542 1.121 20.3166 0.683417C19.879 0.245833 19.2855 0 18.6667 0H2.33333C1.71449 0 1.121 0.245833 0.683417 0.683417C0.245833 1.121 0 1.71449 0 2.33333V18.6667C0 19.2855 0.245833 19.879 0.683417 20.3166C1.121 20.7542 1.71449 21 2.33333 21H18.6667ZM9.33333 10.5V4.66667H11.6667V10.5H16.3333L10.5 16.3333L4.66667 10.5H9.33333Z" fill="#858585"/>
                  </svg>
                  Save Search
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="search-results">
          <div class="container">
            <div class="table-info">
              <div class="total">
                <div class="table-actions">
                  <p>Total Results <span>500</span></p>
                  <a href="#">Clear Filters</a>
                </div>
              </div>
              <div class="table-errors">
                <p class="alert-custom"><span>5</span> searches left! To continue using all features choose <router-link to="/">pricing plan</router-link>.</p>
              </div>
            </div>
            <table class="search-results-table">
              <thead>
                <tr>
                  <td> <input type="radio"> </td>
                  <td> Country </td>
                  <td> Manufacturer </td>
                  <td> Product Name  </td>
                  <td> Reg. No </td>
                  <td> Class </td>
                  <td> Product Category </td>
                  <td> Expiration </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> <input type="radio"/> </td>
                  <td> Hong Kong </td>
                  <td> TRB Chemedica AG </td>
                  <td> Aquilex Fluid Clontrol </td>
                  <td> 347321 </td>
                  <td> IV </td>
                  <td> Viscoelastic Solutions, Intraarticular </td>
                  <td> Jun 16, 2010 </td>
                </tr>
                <tr>
                  <td> <input type="radio"/> </td>
                  <td> United States </td>
                  <td> Medtronic Sofamor Danek USA, Inc. </td>
                  <td> AIMSTEP COMBO PREGNANCY, 1 TEST, 30 TEST, 50 TEST, 100 TEST </td>
                  <td> 381420 </td>
                  <td> III </td>
                  <td> Tissue Reconstructive Materials, Fluid </td>
                  <td> Dec 13, 2023 </td>
                </tr>
                <tr>
                  <td> <input type="radio"/> </td>
                  <td> Thailand </td>
                  <td> Atos Medical AB </td>
                  <td> Wheelchair </td>
                  <td> 672312 </td>
                  <td> IV </td>
                  <td> Bone Graft Substitutes </td>
                  <td> Sep 14, 2012 </td>
                </tr>
                <tr>
                <tr>
                  <td> <input type="radio"/> </td>
                  <td> Thailand </td>
                  <td> Guidant Corporation </td>
                  <td> Sterile Isotonic Saline Solution </td>
                  <td> 449702 </td>
                  <td> I </td>
                  <td> Lenses, Intraocular, Posterior Chamber </td>
                  <td> Dec 28, 2011 </td>
                </tr>
                <tr>
                <tr>
                  <td> <input type="radio"/> </td>
                  <td> United States </td>
                  <td> Tens Plus Industrial Company </td>
                  <td> Aquilex Fluid Clontrol </td>
                  <td> 572642 </td>
                  <td> III </td>
                  <td> Defibrillators, Implantable </td>
                  <td> Oct 18, 2012 </td>
                </tr>
                <tr>
                  <td> <input type="radio"/> </td>
                  <td> Hong Kong </td>
                  <td> POLYMER TECHNOLOGY SYSTEMS, INC. </td>
                  <td> 3 M Espe Elipar S 10 </td>
                  <td> 46212 </td>
                  <td> III </td>
                  <td> Defibrillators, Implantable </td>
                  <td> Nov 5, 2022 </td>
                </tr>
                <tr>
                <tr>
                  <td> <input type="radio"/> </td>
                  <td> United States </td>
                  <td> SA SCIENTIFIC, INC. </td>
                  <td> Byebye Fever Super Cool </td>
                  <td> 898413 </td>
                  <td> II </td>
                  <td> Aqueous/Vitreous Humor Replacement Media </td>
                  <td> Nov 6, 2022 </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="lock-modal">
        <div class="lock-modal-frame">
          <div class="locked-notice">
            <h2 class="title">Product Search Features Locked</h2>
            <p>Sign up and choose your pricing plan to unlock all features. Our free trial includes 5 searches with all our advanced features.</p>
            <router-link to="/pricing-plan" class="orange-btn">
              <a>See Pricing Plans</a>
            </router-link>
          </div>
          <div class="locked-illustration">
            <img src="~@/assets/images/common/locked-illustration.png" alt="Locked Content"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/layout/header.vue';
import LoggedInUserHeader from '@/components/user/dashboard/core/TopBar.vue';
import LockedModal from '@/components/user/modals/locked.vue';

import KeywordSearch from '@/components/form/keyword-search.vue';
import FilterSearch from '@/components/form/filter-search.vue';
import SearchResults from '@/components/global/search-results.vue';

export default {
  name: "search",

  components: {
    Header,
    LoggedInUserHeader,
    KeywordSearch,
    FilterSearch,
    SearchResults,
    LockedModal
  },

  data() {
    return {
      formData: {
        keywordQuery: '',
      },

      searchResultsNum: 0,

      searchResults: [],
      searchParams: [],
      currentUser: {}
    }
  },

  mounted() {
    document.querySelector('.lock-modal').classList.add('isModalOpen');
  }
};
</script>

<style lang="scss">
  .search-mock {
    background: #f8f8f8;
    min-height: calc(100vh - 100px);
    display: flex;

    .search-wrapper {
      width: 85%; //70%
      margin: 40px auto 0 auto;

      @media (max-width: 1580px) {
        width: 75%;
      }

      .locked-modal {
        opacity: 1;
        z-index: 9999;
      }

      .search-results-table {
        tr {
          td {
            &:nth-child(2) {
              width: 10%;
            }

            &:nth-child(3) {
              width: 20%;
            }

            &:nth-child(4) {
              width: 15%;
            }

            &:nth-child(5) {
              width: 10%;
            }

            &:nth-child(6) {
              width: 5%;
            }

            &:last-of-type {
              text-align: left !important;
            }
          }
        }
      }
    }

    .lock-modal {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 1;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      background: rgba(48, 48, 48, 0.1);
      backdrop-filter: blur(10px);

      .lock-modal-frame {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 60px 55px 60px;
        box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.03);
        border-radius: 15px;
        position: relative;

        .locked-notice {
          max-width: 250px;
          margin-right: 100px;
          display: flex;
          flex-direction: column;

          h2 {
            margin-bottom: 30px;
            font-size: 26px;
            line-height: 36px;
          }

          p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 65px;
          }

          .orange-btn {
            width: 205px;
          }
        }
      }
    }

    .keyword-search {
      padding: 40px 0;
    }
  }
</style>