<template>
  <div>
    <Header/>
    <LoggedInUserHeader/>
    <div class="search-main">
      <Sidebar
        :currentUser='currentUser'
      />
      <div class="search-wrapper" @click='checkIfModalOpen'>
        <!-- <Keyword-search
          @searched='populateSearchData'
          @keyword='rememberKeyword'
          :searchParams='searchParams'
        /> -->
        <Filter-search 
          @filters='getFilterOptions'
          @searched='populateSearchData'
          @increaseSearchCounter='test'
          :filters='filters'
          :keyword='formData'
          :searchResultsNum='searchResultsNum'
        />
        <Search-results 
          @click="openModal" 
          @clearFilters='clearFilters'
          :searchResults='searchResults'
        />
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/layout/header.vue';
import LoggedInUserHeader from '@/components/user/dashboard/core/TopBar.vue';

import KeywordSearch from '@/components/form/keyword-search.vue';
import FilterSearch from '@/components/form/filter-search.vue';
import SearchResults from '@/components/global/search-results.vue';

import SaveModal from '@/components/user/modals/save.vue'
import Sidebar from '@/components/user/dashboard/core/sidebar.vue';
import {axiosClient} from "@/axios-client";

export default {
  name: "search",

  components: {
    Header,
    LoggedInUserHeader,
    KeywordSearch,
    FilterSearch,
    SearchResults,
    SaveModal,
    Sidebar
  },

  data() {
    return {
      // formData: {
      //   keywordQuery: '',
      // },

      searchResultsNum: 0,

      searchResults: [],
      searchParams: [],

      currentUser: {},

      filters: {
        // keywordQuery: null,
        // productName: null,
        manufacturerName: null,
        productCategory: null,
        exclude: null,
        specialty: null,
        riskLevel: null,
        sources: []
      },
    }
  },

  mounted() {
    const urlParams = new URLSearchParams(window.location.search);
    var myParam = urlParams.get('keyword');
    var manufacturer = urlParams.get('manufacturer');
    var src = urlParams.get('src');
    var cat = urlParams.get('cat');
    let sources;
    src ? sources = src.split(',') : '';
    var riskLevel = urlParams.get('risk');
    var exclude = urlParams.get('exclude');
    var spec = urlParams.get('specialty')

    myParam != 'null' ? this.filters.keywordQuery = myParam : '';
    myParam != 'null' ? this.filters.productName = myParam : '';
    manufacturer != 'null' ? this.filters.manufacturerName = manufacturer : '';
    cat != 'null' ? this.filters.productCategory = cat : '';
    exclude != 'null' ? this.filters.exclude = exclude : '';
    spec != 'null' ? this.filters.specialty = spec : '';
    // riskLevel != 'null' ? this.filters.riskLevel = riskLevel : '';
    if(riskLevel === 'null') {
      riskLevel = '';
    } else {
      this.filters.riskLevel = riskLevel;
    }

    if(myParam)
      document.querySelector('#product-name').value = myParam;
    if(manufacturer != 'null') {
      document.querySelector('#manufacturer-name').value = manufacturer;
    }
    if(cat != 'null') {
      document.querySelector('#product-category').value = cat;
    }

    if(myParam || manufacturer) {
      manufacturer == 'null' ? manufacturer = '' : manufacturer = manufacturer;
      this.$store.commit('resultsAreLoading')
      axiosClient.post('v1/search/registrations', {
        productName: myParam,
        manufacturerName: manufacturer,
        sources: sources,
        riskLevel: riskLevel,
        exclude: exclude,
        specialty: spec
      })
            .then((response) => {
              let countryGroups = this.groupByKey(response.data, obj => obj.source)
              for(let countryGroup of Object.entries(countryGroups)) {
                this.searchResults.push(countryGroup)
              }
              this.$store.commit('resultsLoaded')
            })
            // .catch((err) => console.log(err))
    }
  },

  methods: {
    groupByKey(array, key) {
				const keyFn = key instanceof Function ? key : (obj) => obj[key];
				return array.reduce((objectsByKeyValue, obj) => {
						const value = keyFn(obj);
						objectsByKeyValue[value] = (objectsByKeyValue[value] || []).concat(obj);
						return objectsByKeyValue;
				}, {});
			},

      test(a) {
        console.log(a);
      },

    openModal(ifSaveModal) {
      if(ifSaveModal) {
        document.querySelector('.search-result-detail').style.display = 'none';
        document.querySelector('.save-modal-wrapper-table').style.opacity = '1';
        document.querySelector('.save-modal-wrapper-table').style.zIndex = '999';
        document.querySelector('.save-modal-wrapper-table').classList.add('isModalOpen');
        document.querySelector('body').style.overflow = 'hidden';
      } else {
        document.querySelector('.search-result-detail').style.display = 'none';
        document.querySelector('.locked-modal').style.opacity = '1';
        document.querySelector('.locked-modal').style.zIndex = '999';
        document.querySelector('.locked-modal').classList.add('isModalOpen');
        document.querySelector('body').style.overflow = 'hidden';
      }
    },

    closeModal(e) {
      document.querySelector('.save-modal-wrapper').style.opacity = '0';
      document.querySelector('.save-modal-wrapper').style.zIndex = '-999';
      document.querySelector('.save-modal-wrapper').classList.remove('isModalOpen');
      document.querySelector('body').style.overflow = 'auto';
    },

    populateSearchData(data) {
      this.searchResultsNum = data.length;
      this.searchResults = [];
      let countryGroups = this.groupByKey(data, obj => obj.source)

      for(let countryGroup of Object.entries(countryGroups)) {
        this.searchResults.push(countryGroup)
      }
    },

    getFilterOptions(filters) {
      this.searchParams = filters;

      axiosClient.get('v1/account')
        .then((response) => {
          this.currentUser = response.data;
      });
    },

    clearFilters() {
      let a = document.querySelectorAll('.filter-options-wrap input');
      a.forEach(el => {
        el.value = '';
      });

      this.searchParams = [];
    },

    checkIfModalOpen(e) {
      let target = e.target;
      if(!target.closest('.search-results-table tbody tr')) {
        document.querySelector('.search-result-detail').style.display = 'none';
        document.querySelector('.search-results .container').style.overflow = 'scroll';
      }

      if(target.closest('.registration-sources-list') || !target.closest('.sources')) {
        document.querySelector('.registration-sources-list').style.display = 'none';

        if(target.closest('.registration-sources-list')) {
          document.querySelector('.registration-sources-list').style.display = 'block';
        }
      }
    },

    rememberKeyword(key) {
      this.formData.keywordQuery = key;
    }
  }
};
</script>

<style lang="scss">
  .search-main {
    background: #f8f8f8;
    min-height: 100vh;
    display: flex;

    .search-wrapper {
      width: 85%; //70%
      margin: 40px auto 0 auto;

      @media (max-width: 1580px) {
        width: 75%;
      }
    }

    .keyword-search {
      padding: 40px 0;
    }
  }
</style>