<template>
  <div class="thank-you">
    <Header/>
    <div class="thank-you-main">
      <div class="thank-you-frame">
        <img src="@/assets/images/common/thank-you.png" alt="Thank You!"/>
        <h1 class="title">Congratulations on becoming a ROSE Founding Member. Search Away!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
        <router-link to="/search" class="orange-btn">
          <a>Start Searching Products</a>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/layout/header.vue';

export default {
  name: "thank-you",
  components: {
    Header,
  },
};
</script>

<style lang="scss">
  .thank-you {
    .thank-you-main {
      height: 100vh;
      width: 100%;
      background: #f9f9f9;
      display: flex;
      justify-content: center;

      .thank-you-frame {
        background: #fff;
        box-shadow: 0px 4px 35px rgba(51, 51, 51, 0.06);
        border-radius: 15px;
        margin-top: 115px;
        align-self: flex-start;
        padding: 60px 65px;
        max-width: 635px;
        text-align: center;

        h1.title {
          margin: 50px 0 24px 0;
          font-size: 26px;
          line-height: 42px;
          color: #333333;
          font-family: "Gotham-Medium";
        }

        p {
          font-size: 14px;
          line-height: 22px;
        }

        a.orange-btn {
          margin: 44px auto 0 auto;
          width: 270px;
        }
      }
    }
  }
</style>