<template>
    <div class="locked-modal" @click='closeModal'>
      <div class="locked-modal-frame">
        <div class="locked-notice">
          <h2 class="title">Product Search Features Locked</h2>
          <p>Sign up and choose your pricing plan to unlock all features. Our free trial includes 5 searches with all our advanced features.</p>
          <router-link to="/pricing-plan" class="orange-btn">
            <a>See Pricing Plans</a>
          </router-link>
        </div>
        <div class="locked-illustration">
          <img src="~@/assets/images/common/locked-illustration.png" alt="Locked Content"/>
        </div>
        <div class="close-modal-btn">
          <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.977334 0.3962C1.21074 0.163085 1.52713 0.0321469 1.85701 0.0321469C2.18689 0.0321469 2.50328 0.163085 2.73669 0.3962L8.08113 5.74065L13.4256 0.3962C13.5395 0.273897 13.677 0.175802 13.8297 0.107764C13.9824 0.0397274 14.1472 0.00314278 14.3143 0.00019373C14.4815 -0.00275532 14.6475 0.0279913 14.8025 0.0905993C14.9575 0.153207 15.0983 0.246394 15.2165 0.364601C15.3347 0.482807 15.4279 0.623612 15.4905 0.778614C15.5531 0.933617 15.5839 1.09964 15.5809 1.26678C15.578 1.43393 15.5414 1.59877 15.4734 1.75146C15.4053 1.90416 15.3072 2.04159 15.1849 2.15555L9.84049 7.5L15.1849 12.8444C15.3072 12.9584 15.4053 13.0958 15.4734 13.2485C15.5414 13.4012 15.578 13.5661 15.5809 13.7332C15.5839 13.9004 15.5531 14.0664 15.4905 14.2214C15.4279 14.3764 15.3347 14.5172 15.2165 14.6354C15.0983 14.7536 14.9575 14.8468 14.8025 14.9094C14.6475 14.972 14.4815 15.0028 14.3143 14.9998C14.1472 14.9969 13.9824 14.9603 13.8297 14.8922C13.677 14.8242 13.5395 14.7261 13.4256 14.6038L8.08113 9.25935L2.73669 14.6038C2.50071 14.8237 2.1886 14.9434 1.8661 14.9377C1.54361 14.932 1.23591 14.8014 1.00784 14.5733C0.779765 14.3452 0.649121 14.0375 0.643431 13.715C0.637741 13.3925 0.757449 13.0804 0.977334 12.8444L6.32178 7.5L0.977334 2.15555C0.74422 1.92215 0.613281 1.60576 0.613281 1.27588C0.613281 0.945997 0.74422 0.629605 0.977334 0.3962Z" fill="#676868"/>
          </svg>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    name: 'locked-modal',
    methods: {
      closeModal(e) {
        let target = e.target.className;
        
        if(e.target.closest('.close-modal-btn')) {
          document.querySelector('.locked-modal').style.opacity = '0';
          document.querySelector('.locked-modal').style.zIndex = '-999';
          document.querySelector('body').style.overflow = 'auto';
        } 
        else if(target.includes('locked-modal')) {
          document.querySelector('.locked-modal').style.opacity = '0';
          document.querySelector('.locked-modal').style.zIndex = '-999';
          document.querySelector('body').style.overflow = 'auto';
        }
      }
    }
}
</script>

<style lang="scss">
    .locked-modal {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -9999;

      .locked-modal-frame {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 60px 55px 60px;
        box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.03);
        border-radius: 15px;
        position: relative;

        .locked-notice {
          max-width: 250px;
          margin-right: 100px;
          display: flex;
          flex-direction: column;

          h2 {
            margin-bottom: 30px;
            font-size: 26px;
            line-height: 36px;
          }

          p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 65px;
          }

          .orange-btn {
            width: 205px;
          }
        }

        .close-modal-btn {
          position: absolute;
          right: 10px;
          top: 10px;
          padding: 20px;
          z-index: 9999;
        }
      }
    }
</style>