<template>
	<div id="account-navigation">
		<p class="active" @click="changeTab" data-id="1">Account</p>
    <p @click="changeTab" data-id="2">Feedback</p>
    <p @click="changeTab" data-id="3" v-if="currentUser.tier=='FREE'">Upgrade Plan</p>
	</div>
</template>

<script>
import {axiosClient} from "@/axios-client";

export default {
  name: 'navigation',
  created() {
    axiosClient.get('v1/account')
      .then((response) => {
        this.currentUser = response.data
    })
  },
  data() {
    return {
      currentUser: {}
    }
  },
  methods: {
    changeTab(e) {
      let items = document.querySelectorAll('#account-navigation p');

      for(let i of items) {
        i.classList.remove('active');
      }
      e.target.classList.add('active');


      this.$emit('click', e.target);
    }
  }
}
</script>

<style lang="scss">
	#account-navigation {
    width: 250px;
    box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.03);
    border-radius: 15px;
    background: #fff;
    padding: 44px 0;

    p {
      margin: 0;
      padding: 30px 50px;
      border-left: 5px solid transparent;
      cursor: pointer;

      &.active {
        background: #f9f9f9;
        border-left: 5px solid #FCAF05;
      }
    }
  }
</style>