<template>
	<div class="loader-container">
		<div class="loader"></div>
	</div>
</template>

<style lang="scss">
  .loader-container {
    position: absolute;
    left: 50%;
    transform: translate(50%);

    .loader {
      border: 7px solid #f3f3f3;
      border-top: 7px solid #FCAF05;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
      margin: 0 auto;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
</style>